/* 

font-family: 'Inter', sans-serif;

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.about_me_container {
    font-family: 'Inter', sans-serif;
    background-color: $secondary;

    .about_me_header {
        font-size: 1.5rem;
        padding: 7rem 2rem 0rem 2rem;
        color: $white;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        .who_span {
            color: $third;
        }

        @media (min-width: $breakpoint-tablet) {
            font-size: 2rem;
        }
    }

    hr {
        position: relative;
        padding: 2rem 0rem 4rem 0rem;
        border: none;
      }
      hr:before {
        content: '\2044\2217\2013\2013\2013\2013\2013\2217\2044';
        position: absolute;
        top: 1.2rem;
        right: 0;
        left: 0;
        font-size: 2.5em;
        color: $grey;
        text-align: center;
      }

    .about_me_para {
        font-size: 1rem;
        color: $white;
        padding: 2rem 2rem 10rem 2rem;
        text-align: center;
        letter-spacing: 0.1rem;
        line-height: 2rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        @media (min-width: $breakpoint-tablet) {
            font-size: 1.2rem;
        }

        @media (min-width: $breakpoint-desktop) {
            max-width: 900px;
            margin: 0 auto;
        }
    }
}