/* 

font-family: 'Playfair Display', serif;
font-family: 'Bitter', serif;

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.about_me_container {

    .about_me_header {
        font-size: 2rem;
        padding: 2rem;
        color: $third;
        text-align: center;
    }
    
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, hsl(222, 82%, 21%, 0), hsl(210, 77%, 57%, 0.75), hsl(175, 63%, 81%, 0));
    }

    .about_me_para {
        font-size: 1.5rem;
        color: $third;
        padding: 2rem;
    }
}