// $primary: hsl(213, 24%, 46%);
$primary: hsl(222, 82%, 21%);
// $secondary: hsl(197, 61%, 47%);
$secondary: hsl(6, 99%, 57%);
$third: hsl(210, 77%, 57%);
$forth: hsl(175, 63%, 81%);
$white: hsl(30, 6%, 87%);
$grey: hsl(0, 0%, 82%);