/* primary colours */
$ltred: hsl(356, 100%, 66%);
$vltred: hsl(355, 100%, 74%);
$vdrblue: hsl(208, 49%, 24%);

/* neutral */
$white: hsl(0, 0%, 100%);
$greyishblue: hsl(240, 2%, 92%);
$greyishblue2: hsl(240, 2%, 79%);
$vdrgreyishblue: hsl(207, 13%, 34%);
$vdrblackblue: hsl(240, 10%, 16%);

/* gradient */
$vltred2: hsl(13, 100%, 72%);
$ltred2: hsl(353, 100%, 62%);
$vdrgreyblue: hsl(237, 17%, 21%);
$vdrsatblue: hsl(237, 23%, 32%);