// $primary: hsl(213, 24%, 46%);
$primary: hsl(222, 82%, 21%);
// $secondary: hsl(197, 61%, 47%);
$secondary: hsl(0, 72%, 57%);
$third: hsl(56, 78%, 64%);
$forth: hsl(175, 63%, 81%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 82%);