/* 

font-family: 'Inter', sans-serif;

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.contact_section {
    font-family: 'Inter', sans-serif;

    .contact_header {
        font-size: 1.5rem;
        padding: 7rem 2rem 0rem 2rem;
        color: $black;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        span {
            color: $secondary;
        }

        @media (min-width: $breakpoint-tablet) {
          font-size: 2rem;
      }
    }

    hr {
        position: relative;
        padding: 2rem 0rem 4rem 0rem;
        border: none;
      }
      hr:before {
        content: '\2044\2217\2013\2013\2013\2013\2013\2217\2044';
        position: absolute;
        top: 1.2rem;
        right: 0;
        left: 0;
        font-size: 2.5em;
        color: $grey;
        text-align: center;
      }

      .contact_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .contact_item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin: 1rem;
          cursor: pointer;
          text-decoration: none;

          i {
            font-size: 2rem;
            color: $third;
            margin: 1rem;
          }

          h4 {
            font-size: 1.3rem;
            margin: 1rem;
            color: $black;
            font-weight: 600;
            text-transform: uppercase;
          }

          p {
            color: $grey;
            transition: all 0.3s ease-in-out;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .contact_social_media {
          margin: 5rem 0rem;

          a {
              padding: 1rem;
              font-size: 3rem;
              color: $secondary;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $grey;
              }

              @media (min-width: $breakpoint-tablet) {
                font-size: 5rem;
                padding: 1rem 3rem;
              }
          }

          @media (min-width: $breakpoint-tablet) {
            margin: 5rem 8rem;
            display: flex;
            justify-content: space-between;
          }
        }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-around;
      }
  }
}