/* 

font-family: 'Playfair Display', serif;

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

body {
    /* font-family: 'Playfair Display', serif;  */
}

.header_section {
    /* background-image: linear-gradient(to bottom, $queenblue, $bluegreen, $darktrq, $turquoise);
    height: 100vh; */
    font-family: 'Playfair Display', serif;

    .nav_bar {
        margin: 3rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ec_logo {
            text-decoration: none;
            color: $bluegreen;
            font-size: 2rem;
            font-weight: 600;
        }

        .right_elements {
            display: flex;
            justify-content: center;
        }

        .hamburger_menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            width: 4rem;
            height: 4rem;
            background: hsl(0, 0%, 0%, 0.1);
            border-radius: 3rem;
            cursor: pointer;
            top: 4%;
            right: 7%;
            z-index: 10;

            div {
                background-color: $white;
                width: 2rem;
                height: 0.2rem;
                transition: all 0.5s ease-out;
            }

            &.open {
                .one {
                    transform: translateY(0.7rem) rotate(45deg);
                }

                .two {
                    opacity: 0;
                }

                .three {
                    transform: translateY(-0.7rem) rotate(-45deg);
                }
            }
        }

        .nav_links {
            position: fixed;
            background-color: $bluegreen;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10rem 0rem;
            height: 100%;
            width: 80%;
            font-size: 3rem;
            text-align: center;
            top: 0%;
            right: 0%;
            transform: translateX(120%);
            z-index: 9;
            transition: transform 350ms ease-in-out;
            -webkit-box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23); 
            box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23);

            a {
                text-decoration: none;
                color: $white;
                padding: 1.5rem 0rem;
            }
        }

        .nav_links_open {
            transform: translateX(0%);
        }
    }
}

.hero_section {
    margin: 6rem 1.5rem 1rem 1.5rem;
    text-align: center;
    color: $bluegreen;
    border-bottom: $bluegreen 2px solid;
    h1 {
        font-size: 3rem;
        padding: 0.5rem;

        span {
            background-color: $bluegreen;
            color: $white;
            margin-bottom: 0.8rem;
        }
    }

    h2 {
        font-size: 1rem;
        padding-top: 0.2rem;
        line-height: 3rem;
    }
}