/* 

font-family: 'Inter', sans-serif;

*/

$breakpoint-sm-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.header_section {
    /* background-image: linear-gradient(to bottom, $queenblue, $third, $darktrq, $turquoise);
    height: 100vh; */
    font-family: 'Inter', sans-serif;

    .nav_bar {
        margin: 3rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .right_elements {
            display: flex;
            justify-content: center;
        }

        .hamburger_menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            width: 4rem;
            height: 4rem;
            background: $white;
            border-radius: 3rem;
            cursor: pointer;
            top: 4%;
            right: 7%;
            z-index: 10;
            -webkit-box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23); 
            box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23);

            div {
                background-color: $secondary;
                width: 2rem;
                height: 0.2rem;
                transition: all 0.5s ease-out;
            }

            &.open {
                background: $secondary;

                .one {
                    transform: translateY(0.7rem) rotate(45deg);
                    background-color: $white;
                }

                .two {
                    opacity: 0;
                }

                .three {
                    transform: translateY(-0.7rem) rotate(-45deg);
                    background-color: $white;
                }
            }
        }

        .nav_links {
            position: fixed;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10rem 0rem;
            height: 100%;
            width: 80%;
            font-size: 1.5rem;
            text-align: center;
            top: 0%;
            right: 0%;
            transform: translateX(120%);
            z-index: 9;
            transition: transform 350ms ease-in-out;
            -webkit-box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23); 
            box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23);

            a {
                text-decoration: none;
                color: $black;
                padding: 1rem 0rem;

                span {
                    color: $third;
                }
            }

            hr {
                border: 0;
                height: 1px;
                width: 20rem;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }

            .nav_contact_info {
                display: flex;
                flex-direction: column;

                a {
                    font-size: 0.6rem;
                }
            }

            .nav_social_media {
                margin-top: 1rem;

                a {
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    color: $secondary;
                }
            }
        }

        .nav_links_open {
            transform: translateX(0%);
        }
    }
}

.hero_section {
    margin: 6rem 1.5rem 0rem 1.5rem;
    text-align: center;
    color: black;
    // border-bottom: $third 2px solid;
    h1 {
        font-size: 3.5rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-weight: 800;

        .u_letter {
            color: $secondary;
        }

        .a_letter {
            color: $third;
        }

        .last_name {
            color: grey;
        }

        @media (max-width: $breakpoint-sm-mobile) {
            font-size: 2.5rem;
            text-align: center;
        }
    }

    h2 {
        font-size: 1.3rem;
        padding-top: 0.2rem;
        line-height: 3rem;
        color: $secondary;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        @media (max-width: $breakpoint-sm-mobile) {
            font-size: 0.7rem;
        }
    }

    .main_img {
        background-image: url('../images/eugene-1.jpeg');
        background-size: cover;
        background-position: 50%;
        width: 20rem;
        height: 31rem;
        margin: 0rem auto;

        @media (max-width: $breakpoint-sm-mobile) {
            width: 14rem;
            height: 23rem;
        }
    }
}

