/* 

font-family: 'Inter', sans-serif;

*/

$breakpoint-sm-mobile: 350px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.portfolio_section {
    font-family: 'Inter', sans-serif;
    background-color: $secondary;

    .portfolio_header {
        font-size: 1.5rem;
        padding: 7rem 2rem 0rem 2rem;
        color: $white;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        @media (min-width: $breakpoint-tablet) {
            font-size: 2rem;
        }
    }

    hr {
        position: relative;
        padding: 2rem 0rem 4rem 0rem;
        border: none;
      }
      hr:before {
        content: '\2044\2217\2013\2013\2013\2013\2013\2217\2044';
        position: absolute;
        top: 1.2rem;
        right: 0;
        left: 0;
        font-size: 2.5em;
        color: $grey;
        text-align: center;
      }

    .portfolio_container {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
        
        .card_item { 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 20rem;
            height: 25rem;
            margin: 5rem 0rem;
            padding: 1rem;
            text-decoration: none;
            cursor: pointer;
            background: $white;
            border-radius: 10px;
            transition: all .3s ease-in-out;
            -webkit-box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23); 
            box-shadow: -3px 2px 18px 2px rgba(0,0,0,0.23);

            .card_img_1 {
                background-image: url("../images/blgrwebsite.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 19rem;
                height: 11rem;

                @media (max-width: $breakpoint-sm-mobile) {
                    width: 15rem;
                    height: 9rem;
                }

                @media (min-width: $breakpoint-tablet) {
                    width: 26rem;
                    height: 14rem;
                    background-size: 95%;
                    background-position: center;
                }
                
            }

            .card_img_2 {
                background-image: url("../images/typemaster.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 19rem;
                height: 11rem;

                @media (max-width: $breakpoint-sm-mobile) {
                    width: 15rem;
                    height: 9rem;
                }

                @media (min-width: $breakpoint-tablet) {
                    width: 26rem;
                    height: 14rem;
                    background-size: 90%;
                    background-position: center;
                }
            }

            h2 {
                font-size: 1.2rem;
                padding: 2rem 2rem 1rem 2rem;
                margin: 0rem 1rem;
                color: $secondary;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

                @media (min-width: $breakpoint-tablet) {
                    font-size: 1.5rem;
                }
            }

/*             p {
                font-size: 1rem;
                margin: 1rem 1rem;
                text-align: center;
                line-height: 1.5rem;

                @media (min-width: $breakpoint-tablet) {
                    font-size: 1.3rem;
                }

                a {
                    text-decoration: none;
                    color: $third;
                    cursor: pointer;
                }
            } */

            .card_link {
                text-decoration: none;
                font-size: 1rem;
                margin-top: 2rem;
                padding: 1rem;
                background-color: $secondary;
                color: $white;
                width: 50%;
                text-align: center;
                font-weight: 600;
                letter-spacing: 0.1rem;
                border-radius: 10px;
                text-shadow: 2px 0px 11px rgba(0,0,0,0.11);
                cursor: pointer;
                transition: 0.2s ease-in-out;

                @media (min-width: $breakpoint-tablet) {
                    font-size: 1.5rem;
                }

                &:hover {
                    background-color: $grey;
                }
            }

            @media (min-width: $breakpoint-tablet) {
                width: 26rem;
                height: 28rem;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}