/* 

font-family: 'Inter', sans-serif;

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.skills_section {
    font-family: 'Inter', sans-serif;

    .skills_header {
        font-size: 1.5rem;
        padding: 7rem 2rem 0rem 2rem;
        color: $black;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        span {
            color: $third;
        }
    }

    hr {
        position: relative;
        padding: 2rem 0rem 4rem 0rem;
        border: none;
      }
      hr:before {
        content: '\2044\2217\2013\2013\2013\2013\2013\2217\2044';
        position: absolute;
        top: 1.2rem;
        right: 0;
        left: 0;
        font-size: 2.5em;
        color: $grey;
        text-align: center;
      }

      .skills_container {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 7rem;

          .skill_item {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              padding: 4rem 0rem;
              border-bottom: $grey 2px solid;

              i {
                font-size: 10rem;
                color: $secondary;
              }

              h2 {
                  font-size: 2rem;
                  color: $black;
                  font-weight: 600;
              }
          }
      }
}