/* 

font-family: 'Inter', sans-serif;

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.skills_section {
    font-family: 'Inter', sans-serif;

    .skills_header {
        font-size: 1.5rem;
        padding: 7rem 2rem 0rem 2rem;
        color: $black;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        span {
            color: $third;
        }

        @media (min-width: $breakpoint-tablet) {
          font-size: 2rem;
      }
    }

    hr {
        position: relative;
        padding: 2rem 0rem 4rem 0rem;
        border: none;
      }
      hr:before {
        content: '\2044\2217\2013\2013\2013\2013\2013\2217\2044';
        position: absolute;
        top: 1.2rem;
        right: 0;
        left: 0;
        font-size: 2.5em;
        color: $grey;
        text-align: center;
      }

      .skills_container {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          margin: 0 auto 3rem auto;
          max-width: 300px;

          .skill_item {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              padding: 2rem;

              @media (min-width: 600px) {
                padding: 2rem;
            }

              i {
                font-size: 4rem;
                color: $secondary;
                padding-bottom: 1rem;

                    @media (min-width: 600px) {
                        font-size: 5rem;
                        padding-bottom: 1rem;
                }
              }

              h2 {
                  font-size: 1rem;
                  color: $black;
                  font-weight: 600;

                  @media (min-width: 600px) {
                      font-size: 1rem;
                }
              }
          }

          @media (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
            align-content: flex-start;
            margin: 0 auto 5rem auto;
            max-width: 604px;
        }

      }

      .skills_sub_heading {
        font-size: 1.2rem;
        padding: 0rem 2rem 2rem 2rem;
        color: $black;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        span {
          color: $third;
        }
      }

      .other_skills {
        font-size: 1rem;
        padding: 0rem 2rem 2rem 2rem;
        color: $black;
        text-align: center;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        li {
          padding: 0.5rem 0rem;
          letter-spacing: 0.1rem;

          .fas {
            font-size: 0.7rem;
            color: $secondary;
          }
        }
      }

      .other_skills_info {
        font-size: 1rem;
        color: $grey;
        padding: 2rem 2rem 5rem 2rem;
        text-align: center;
        letter-spacing: 0.1rem;
        line-height: 2rem;
        text-shadow: 2px 0px 11px rgba(0,0,0,0.11);

        @media (min-width: $breakpoint-tablet) {
          font-size: 1.2rem;
      }

      @media (min-width: $breakpoint-desktop) {
          max-width: 900px;
          margin: 0 auto;
      }
      }
}